<section class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Customer Details</h2>
        </div>
        <form method="post" action="/upsert">
            {{#if order}}
                <input type="hidden" name="id" value="{{order.id}}"/>
            {{/if}}
            <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label block">
                    <input class="mdl-textfield__input" type="text" name="firstName" value="{{order.firstName}}">
                    <label class="mdl-textfield__label" for="sample1">firstName</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label block">
                    <input class="mdl-textfield__input" type="text" name="lastName" id="productCode"
                           value="{{order.lastName}}">
                    <label class="mdl-textfield__label" for="sample1">lastName</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label block">
                    <input class="mdl-textfield__input" type="text" pattern="[a-z]{2}" name="nationalite"
                           value="{{order.nationalite}}">
                    <label class="mdl-textfield__label" for="sample1">Nationalité</label>
                    <span class="mdl-textfield__error">Chaine de caracteres en minuscule requise</span>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label block">
                    <input class="mdl-textfield__input" type="text" name="mail"
                           value="{{order.mail}}">
                    <label class="mdl-textfield__label" for="sample1">Email</label>
                    <!--<span class="mdl-textfield__error">Must be a positive number</span>-->
                </div>

                {{#if order}}
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label block">
                        <input class="mdl-textfield__input" type="text" pattern="PENDING|SHIPPED|DELIVERED"
                               name="status" value="{{order.status}}">
                        <label class="mdl-textfield__label" for="sample1">Status...</label>
                        <span class="mdl-textfield__error">Must be one of PENDING, SHIPPED, or DELIVERED</span>
                    </div>
                {{/if}}
            </div>
            <div class="mdl-card__actions">
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored mdl-button--raised">
                    {{#if order}}Save{{else}}Create{{/if}}
                </button>
                <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="/">Cancel</a>
            </div>
        </form>
    </div>
    <div class="mdl-cell demo-card-event mdl-card mdl-shadow--2dp mdl-cell--4-col">
        <div class="mdl-card__title mdl-card--expand">
            <h4>Language Codes</h4>
            <ul class="mdl-list">
                <li class="mdl-list__item">English = en</li>
                <li class="mdl-list__item">French = fr</li>
                <li class="mdl-list__item">German = de</li>
                <li class="mdl-list__item">Italian = it</li>
            </ul>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <div class="mdl-layout-spacer"></div>
        </div>
    </div>
    <!--<div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">-->
        <!--<div class="mdl-card__title">-->
            <!--<h2 class="mdl-card__title-text">Language Codes</h2>-->
        <!--</div>-->
    <!--</div>-->
</section>

